<!DOCTYPE html>
<html>

<head>
    <script src="Scripts/angular.min.js"></script>
    <link href="style.css" rel="stylesheet" />
    <script src="Controllers/TestController.js"></script>
</head>

<body ng-app="App">

    <div ng-controller="CrudCtrl">
        <input type="hidden" ng-model="Id" ng-init="Id='0'" />

        <div class="row">
            <h3>Mantenedor de Usuarios</h3>
            <div class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="name" placeholder="Nombre de Usuario">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" ng-model="email" placeholder="Correo Electrónico">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" ng-model="password" placeholder="Contraseña">
                </div>
            </div>
            <div class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="contrycode" placeholder="Código de País" maxlength="2">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="citycode" placeholder="Código de Ciudad" maxlength="1">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="number" placeholder="Teléfono" maxlength="8">
                </div>
            </div>
            <div class="form-inline">
                <button class="btn btn-primary" ng-click="Guardar()">Guardar</button>
            </div>
        </div>
        <br />
        <div class="row">
            <h3>Lista de Usuarios</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Correo Electrónico</th>
                        <th>Teléfono</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{Usuarios.Id}}</td>
                        <td>{{Usuarios.name}}</td>
                        <td>{{Usuarios.email}}</td>
                        <td>{{Usuarios.contrycode}}-{{Usuarios.citycode}}-{{Usuarios.number}}</td>
                        <td>
                            <button type="button" class="btn btn-primary" id="{{Usuarios.Id}}" ng-click="ObtenerPorId(Usuarios.Id)">Actualizar</button>
                            <button type="button" class="btn btn-danger" id="{{Usuarios.Id}}" ng-click="Eliminar(Usuarios.Id)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="Scripts/jquery-3.4.1.js"></script>
</body>
</html>